/object_detection/protos/*_pb2.py

/.idea/

/models/pretrained_models/*
/models/exported_models/*

/models/own_models/*

/models/own_models/summary.csv

/data/voc_data/*
/data/tfrecords/*
/data/test_data/*

/build/
/dist/
/object_detection.egg-info/

