model {
  name: "baseline_fast"
  prob_two_stage {
    num_classes: 7
    image_resizer {
      fixed_shape_resizer {
        height: 512
        width: 512
      }
    }
    feature_extractor {
      type: "prob_two_stage_efficientdet_d0_bifpn_keras"
      conv_hyperparams {
        regularizer {
          l2_regularizer {
            weight: 4e-05
          }
        }
        initializer {
          truncated_normal_initializer {
            mean: 0.0
            stddev: 0.03
          }
        }
        activation: HSWISH
        batch_norm {
          decay: 0.99
          scale: true
          epsilon: 0.001
        }
        force_use_bias: true
      }
      bifpn {
        min_level: 4
        max_level: 6
        num_iterations: 3
        num_filters: 64
      }
    }
    first_stage_anchor_generator {
      multiscale_anchor_generator {
        min_level: 4
        max_level: 6
        anchor_scale: 4.0
        aspect_ratios: 1.0
        aspect_ratios: 2.0
        aspect_ratios: 0.5
        scales_per_octave: 2
        normalize_coordinates: false
      }
    }
    first_stage_box_predictor {
      weight_shared_convolutional_box_predictor {
        conv_hyperparams {
          regularizer {
            l2_regularizer {
              weight: 4e-05
            }
          }
          initializer {
            random_normal_initializer {
              mean: 0.0
              stddev: 0.01
            }
          }
          activation: HSWISH
          batch_norm {
            decay: 0.99
            scale: true
            epsilon: 0.001
          }
          force_use_bias: true
        }
        depth: 64
        num_layers_before_predictor: 3
        kernel_size: 3
        class_prediction_bias_init: -4.6
        use_dropout: true
        dropout_keep_probability: 0.5
        share_prediction_tower: true
        use_depthwise: true
      }
    }
    first_stage_minibatch_size: 64
    first_stage_nms_score_threshold: 0.1
    first_stage_nms_iou_threshold: 0.6
    first_stage_soft_nms_sigma: 0.5
    first_stage_max_proposals: 64
    first_stage_localization_loss_weight: 1.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        use_dropout: true
        dropout_keep_probability: 0.5
      }
    }
    second_stage_batch_size: 64
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.1
        iou_threshold: 0.6
        max_detections_per_class: 64
        max_total_detections: 64
        soft_nms_sigma: 0.5
      }
      score_converter: SIGMOID
    }
    second_stage_localization_loss_weight: 1.0
    second_stage_classification_loss_weight: 1.0
    second_stage_classification_loss {
      weighted_sigmoid_focal {
      }
    }
    clip_anchors_to_image: true
    add_weight_as_input: false
    input_method: "input-multiply"
    add_weight_as_output_gpo: false
  }
}
train_config {
  batch_size: 16
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_vertical_flip {
    }
  }
  data_augmentation_options {
    random_adjust_contrast {
      min_delta: 0.9
      max_delta: 1.1
    }
  }
  data_augmentation_options {
    random_adjust_brightness {
      max_delta: 0.1
    }
  }
  sync_replicas: false
  optimizer {
    adam_optimizer {
      learning_rate {
        cosine_decay_learning_rate {
          learning_rate_base: 0.001
          total_steps: 34500
          warmup_learning_rate: 1e-07
          warmup_steps: 1150
        }
      }
      epsilon: 1e-08
    }
    use_moving_average: false
  }
  num_steps: 34500
  startup_delay_steps: 0.0
  merge_multiple_label_boxes: true
  unpad_groundtruth_tensors: false
}
train_input_reader {
  label_map_path: "/data/voc_fruit_weights/pascal_label_map.pbtxt"
  tf_record_input_reader {
    input_path: "/data/voc_fruit_weights/train_gpu_0.tfrecord"
  }
}
eval_config {
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
  include_metrics_per_category: true
  batch_size: 1
  all_metrics_per_category: true
}
eval_input_reader {
  label_map_path: "/data/voc_fruit_weights/pascal_label_map.pbtxt"
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "/data/voc_fruit_weights/test_gpu_0.tfrecord"
  }
}
